body>.bg-img{
  background-image:url(../../img/eastbourne-photo-pier.jpg) no-repeat, center, center;
  background-size: cover;
  height:100%;
  width:auto;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: default;
}
