// html{
//   margin:0;
//   padding:0;
// }
.bg-img{
  width: 100vw;
  max-height: auto;
  background:url(./../img/Eastbourne-1-low-web.JPG) no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




body{
  max-width:2000px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}


.wrapper{
 width:800px;
 height:auto;
 // border: 2px solid orange;
 background: #eee;
 opacity: 0.9;
 margin: 0 auto;
}

.content{
  width:600px;
  margin: 0 auto;
  // border: 1px dotted red;
}
