h1#main-title{
  font-family: 'Vidaloka', 'Prata', serif;
  font-size: 3em;
  text-align: center;
}

h2#sub-title{
  // display:flex;
  font-family: 'Old Standard TT','Prata', serif;
  font-size: 3em;
  text-align: center;
}
