<div class="row">
  <div class="small-12">
    <form action="#" method="post" name="sign up for beta form">
      <div class="header">
        <p>Sign up for our mailing list</p>
      </div>
      <div class="description">
        <p>The website is almost ready. If you're interested in finding out more, then sign up below to get exclusive access.</p>
      </div>
      <div class="input">
        <input type="text" class="button" id="email" name="email" placeholder="NAME@EXAMPLE.COM">
        <input type="submit" class="button" id="submit" value="SIGN UP">
      </div>
    </form>
  </div>
</div>
