<div class="row social">


      <div class="social-icon">
        <i class="fa fa-twitter"></i>
      </div>
    </a>
    <a href="#">
      <div class="social-icon">
        <i class="fa fa-facebook"></i>
      </div>
    </a>
    <a href="#">
      <div class="social-icon">
        <i class="fa fa-etsy etsy">E</i>
      </div>
    </a>
    <a href="#">
      <div class="social-icon">
        <i class="fa fa-instagram"></i>
      </div>
    </a>


</div>
